@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');

.navbarmenu{
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 2%;
    background-image: url(../images/fuji.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    filter: brightness(95%);
    }
    
.TitrePrincipal{
    margin-top: 11vh;
    font-family: 'Sansita Swashed', cursive;
    background-color: blanchedalmond;
    filter: opacity(80%);

    
}



.onglet{
    font-weight: 700;
    
    
  }